<% content_for :title do %>About<% end %>
<h3>About Foobar Kadigan</h3>
<p>He was born Waikikamukau, New Zeeland. He left New Zeeland for England, excelled at the Unviersity of Mopery, and served in the Royal Loamshire Regiment. While in service, he invented the kanutan valve used in the processing of unobtainium for industrial use. With a partner, Graenda Fairbrook, he founded Acme Manufacturing, later acquired by the Advent Corporation, to develop his discovery for use in the Turboencabulator. Mr. Kadigan is now retired and lives in Middlehampton with a favorite cat, where he raises Griadiem frieda and collects metasyntactic variables.</p>
<p>His favoriate quotation is:</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolor magne aliqua.</p>
